<% if user_signed_in? %>
  <% unless @post.user_id == current_user.id %>
    <% if @favorite.present? %>
      <div class="fav-now floats">
        <%= link_to favorite_path(id: @favorite.id), method: :delete, remote: true do %>
        お気に入りから外す
          <i class="fa fa-star fa-2x fav-now notfavorite-btn"></i>
        <% end %>
      </div>
    <% else %>
      <div class="fav-not floats">
        <%= link_to favorites_path(post_id: @post.id), method: :post, remote: true do %>
        お気に入りに登録する
          <i class="fa fa-star favorite-btn"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
お気に入り！<%= @favorites_count %>件