.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}


.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 30px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

.favorite-btn {
  color: #8899a6;
}


.notfavorite-btn {
  color: #ffd700;
}

table {
  border-width: 7px 2px;
  border-style: solid;
  border-color: #A4C639;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
  border: 1px solid #696969;
}
.comment-opinion {
  position: relative;
	display: inline-block;
 	margin: 0.5em 0 0.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: white;
  border-radius: 5px;
}

.comment-opinion:before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid white;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.comment-delete{
  margin: 0;
  text-align: right;
}

.comment-name{
  margin: 0;
}

.comment-space{
  background: #F7F8F9;
}

.one-comment{
  margin: 0 0 1em 0;
}

.rank{
  padding: 0.5em 1em;
  margin: 3em 0;
  color: #232323;
  background: white;
  border: solid 5px #FFD700;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.22);
  margin-top: 10px;
}

.rank:hover{
  opacity: .7;
}

.rank-box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border-radius: 8px;
  //width: 100%;
  //float: right;
}

.rank-box .rank-box-title {
  position: absolute;
  display: inline-block;
  top: -7px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 1.5em;
  font-weight: bold;
  color: #1F2125;
}


.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.body-full{
  margin: 5px;
}

.main-body {
  width: 80%;
}
#side {
  width: 40%;
  float: right;
  margin-top: 30px;
  margin-bottom: 80px;
  
}

#main {
  width: 60%;
  float: left;
  margin-top: 30px;
  margin-bottom: 80px;
}

.not-under img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
    padding-top: 30px;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.22);
}


.card:hover{
  opacity: .7;
}

.post-card {
  width: 90%;
  margin-bottom: 15px;
}

.rank-card {
  width: 90%;
  margin-bottom: 15px;
  margin-top: 10px;
}

.pname {
  float: center;
  font-size: 40px;
  margin-top: 40px;
  margin-right: 300px;
  float: right;
}

.pagination li {
  float: left;
  margin-right: 5px;
}